@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.body-title-font{
    font-family: 'Rock Salt', cursive;
}

.body-title{    
    margin:50px;
}

.app-body {
    background-color:white;
  }

.btn{
    box-shadow: 5px 5px #888888;
}