.form-group{
    width: fit-content;
}
.scale:hover{
    transform: scale(1.1);
}

.vertical-center {
    position: absolute;
    top: 50%;
}

.btn{
    margin:20px;
    font-size: x-large;
}

.btn-breed{ 
    height: 70px;
    width: 150px;
    left:-10px;    
} 