.form-group{
    width: fit-content;
}
.scale:hover{
    transform: scale(1.1);
}

.vertical-center {
    position: absolute;
    top: 50%;
}

.btn-parent{
    margin:20px;
}

#btn-breed{ 
    height: 70px;
    width: 150px;
    left:-10px; 
    border-radius: 50px;   
} 

.empty-box{
    background-color: #e2efff;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    width: 400px;
    height: 490px;
    margin-bottom: 20px;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
