@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

#nav-bar-title{
    font-family: 'Berkshire Swash', cursive;
    background-color: red;
}

#btn-connect{ 
    height: 40px;
    width: 200px;
    left:-10px; 
    border-radius: 50px;
    font-size: 19px;
    background-color: red;  
} 
