.pandaBox {
    background-color: #e2efff;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    width: 400px;
    height: 490px;
    margin-bottom: 20px;
}

.cursor-pointer{
    cursor: pointer;
}