@keyframes moveHead{
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}
@keyframes moveHeadLeftEar{
    from{
        margin-left: -16px;
        margin-top: 21px;
        transform: rotate(145deg);
    }
    to{
        margin-left: 14px;
        margin-top: -6px;
        transform: rotate(165deg);
    }
}
@keyframes moveHeadRighttEar{
    from{
        margin-left: 77px;
        margin-top: -11px;
        transform: rotate(16deg);
    }
    to{
        margin-left: 113px;
        margin-top: 16px;
        transform: rotate(36deg);
    }
}
@keyframes moveNose{
    from{
        margin-left:62px;
    }
    to{
        margin-left:66px;
    }
}
@keyframes moveLeftFoot{
    from{
        transform: rotate(59deg);
    }
    to{
        transform: rotate(79deg);
    }
}
@keyframes moveLeftToe1{
    from{
        margin-left: 392px;
    }
    to{
        margin-left: 384px;
    }
}
@keyframes moveLeftToe2{
    from{
        margin-left: 381px;
    }
    to{
        margin-left: 374px;
    }
}
@keyframes moveLeftToe3{
    from{
        margin-left: 369px;
    }
    to{
        margin-left: 360px;
    }
}
@keyframes moveLeftHeel{
    from{
        transform: rotate(-32deg);
    }
    to{
        transform: rotate(-12deg);
    }
}
@keyframes moveRightFoot{
    from{
        transform: rotate(108deg);
    }
    to{
        transform: rotate(128deg);
    }
}
@keyframes moveRightToe1{
    from{
        margin-left: 85px;
        margin-top: 25px;
    }
    to{
        margin-left: 77px;
        margin-top: 19px;
    }
}
@keyframes moveRightToe2{
    from{
        margin-left: 95px;
    }
    to{
        margin-left: 87px;
        margin-top: 31px;
    }
}
@keyframes moveRightToe3{
    from{
        margin-left: 108px;
    }
    to{
        margin-left: 101px;
        margin-top: 34px;
    }
}
@keyframes moveRightHeel{
    from{
        transform: rotate(9deg);
    }
    to{
        transform: rotate(29deg);
    }
}

.headMove{
    animation: 2s moveHead infinite;
    animation-direction: alternate;
}
.headLeftEarMove{
    animation: 2s moveHeadLeftEar infinite;
    animation-direction: alternate;
}
.headRightEarMove{
    animation: 2s moveHeadRighttEar infinite;
    animation-direction: alternate;
}
.noseMove{
    animation: 1s moveNose infinite;
    animation-direction: alternate;
}
.leftFootMove{
    animation: 2s moveLeftFoot infinite;
    animation-direction: alternate;
}
.leftFootToe1Move{
    animation: 2s moveLeftToe1 infinite;
    animation-direction: alternate;
}
.leftFootToe2Move{
    animation: 2s moveLeftToe2 infinite;
    animation-direction: alternate;
}
.leftFootToe3Move{
    animation: 2s moveLeftToe3 infinite;
    animation-direction: alternate;
}
.leftHeelMove{
    animation: 2s moveLeftHeel infinite;
    animation-direction: alternate;
}
.rightFootMove{
    animation: 2s moveRightFoot infinite;
    animation-direction: alternate;
}
.rightFootToe1Move{
    animation: 2s moveRightToe1 infinite;
    animation-direction: alternate;
}
.rightFootToe2Move{
    animation: 2s moveRightToe2 infinite;
    animation-direction: alternate;
}
.rightFootToe3Move{
    animation: 2s moveRightToe3 infinite;
    animation-direction: alternate;
}
.rightHeelMove{
    animation: 2s moveRightHeel infinite;
    animation-direction: alternate;
}