.pandaBox {
    background-color: #e2efff;
    border-radius: 10px;
    z-index: -3;
}

.pandattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}

.row{
    margin-right: -100px;
    margin-left: 0px;

}
